<div class="modal fade" tabindex="-1" role="dialog" id="modal4">
    <div class="modal-dialog modal-lg" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Muayene Düzenle</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">

                    <div class="col-md-12">

                        <div class="col-md-6">
                            <fieldset>
                                <legend><br>Muayene Bilgileri</br></legend>
                                <div class="col-md-6">
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="tc">TC K.Nu</label>
                                                <div class="controls">
                                                    <input type="text" id="tc" placeholder="TC K.Nu">

                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="d.yeri">Muayene Yeri</label>
                                                <div class="controls">
                                                    <input type="text" id="m.yeri" placeholder="Muayene Yeri">

                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="adi">Personel Adı ve Soyadı</label>
                                                <div class="controls">
                                                    <input type="text" id="adi" placeholder="Personel Adıv e Soyadı">

                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="departman">Departman/Bölüm</label>
                                                <div class="controls">
                                                    <input type="text" id="departman" placeholder="Departman/Bölüm">

                                                </div>
                                            </div>
                                        </div><!--/span-->

                                    </div><!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="Mesleği">Mesleği</label>
                                                <div class="controls">
                                                    <input type="text" id="Mesleği" placeholder="Mesleği">

                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="Muayene Türü">Muayene Türü</label>
                                                <div class="controls">
                                                    <input type="text" id="Muayene Türü" placeholder="Muayene Türü">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->
                                </div>
                                <div class="col-md-6">
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="Muayene Sonuç">Muayene Sonuç</label>
                                                <div class="controls">
                                                    <input type="text" id="Muayene Sonuç" placeholder="Muayene Sonuç">
                                                </div>
                                            </div>
                                        </div><!--/span-->

                                    </div><!--/row-->
                                    <div class="span6 bgcolor">
                                        <div class="control-group">
                                            <label class="control-label" for="Bildirim Zorunlumu">Bildirim Zorunlumu</label>
                                            <div class="controls">
                                                <input type="text" id="Bildirim Zorunlumu" placeholder="Bildirim Zorunlumu">
                                            </div>
                                        </div>
                                    </div><!--/span-->
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend><br>Kimlik Bilgileri</br></legend>
                                <div class="col-md-6">
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="seri">Seri</label>
                                                <div class="controls">
                                                    <input type="text" id="tc" placeholder="Seri">

                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="no">No</label>
                                                <div class="controls">
                                                    <input type="text" id="no" placeholder="no">

                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="baba">Baba Adı</label>
                                                <div class="controls">
                                                    <input type="text" id="babadı" placeholder="Baba Adı">

                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="ana">Ana Adı</label>
                                                <div class="controls">
                                                    <input type="text" id="anaadı" placeholder="Ana Adı">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="il">Kayıt Olduğu İl</label>
                                                <div class="controls">
                                                    <input type="text" id="Kayıt Olduğu İl">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="ilçe">Kayıt Olduğu İlçe</label>
                                                <div class="controls">
                                                    <input type="text" id="Kayıt Olduğu İlçe">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="m.k">Mahalle-Köy</label>
                                                <div class="controls">
                                                    <input type="text" id="Mahalle-Köy">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="span6 bgcolor">
                                        <div class="control-group">
                                            <label class="control-label" for="ciltno">Cilt No</label>
                                            <div class="controls">
                                                <input type="text" id="Cilt No">
                                            </div>
                                        </div>
                                    </div><!--/span-->
                                    <!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="a.sıra">Aile Sıra No</label>
                                                <div class="controls">
                                                    <input type="text" id="Aile Sıra No">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="sıra">Sıra No</label>
                                                <div class="controls">
                                                    <input type="text" id="Sıra No">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="v.yer">Verildiği Yer</label>
                                                <div class="controls">
                                                    <input type="text" id="Verildiği Yer">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="v.nedeni">Veriliş Nedeni</label>
                                                <div class="controls">
                                                    <input type="text" id="Veriliş Nedeni">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="k.no">Kayıt No</label>
                                                <div class="controls">
                                                    <input type="text" id="Verildiği Yer">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                        <div class="span6 bgcolor">
                                            <div class="control-group">
                                                <label class="control-label" for="v.nedeni">Veriliş Nedeni</label>
                                                <div class="controls">
                                                    <input type="text" id="Veriliş Nedeni">
                                                </div>
                                            </div>
                                        </div><!--/span-->
                                    </div><!--/row-->
                                </div>
                            </fieldset>
                        </div>
                        <div class="clearfix"></div>


                    </div><!--/span-->
                    <div class="span6 bgcolor"><button type="submit" class="btn btn-primary">Kaydet</button></div>
                </div>
            </div>
        </div>
    </div>
</div>


