
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>İSG</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>İSG</b>Otomasyonu</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">45</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">45 Okunmamış Mesaj</li>
                        <li class="footer"><a href="#">Tüm Mesajlar</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">10 Yeni Bildirim </li>
                   
                        <li class="footer"><a href="#">Tüm Bildirimler</a></li>
                    </ul>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @if ((string)@Session["TcNo"] == "11111")
                        {
                            <img src="~/Content/Images/cagri.jpg" class="user-image" alt="User Image">


                        }
                        @if ((string)@Session["TcNo"] == "22222")
                        {
                            <img src="~/Content/Images/burak.jpg" class="user-image" alt="User Image">

                        }
                        @if ((string)@Session["TcNo"] == "33333")
                        {
                            <img src="~/Content/Images/ugur1.jpg" class="user-image" alt="User Image">

                        }
                        <span class="hidden-xs">@Session["TamAd"]</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            @if ((string)@Session["TcNo"] == "11111")
                            {
                                <img src="~/Content/Images/cagri.jpg" class="user-image" alt="User Image">
                                <p>
                                    @Session["TamAd"]

                                </p>
                                <p>İş Sağlığı ve Güvenliği Uzmanı</p>
                            }
                            @if ((string)@Session["TcNo"] == "22222")
                            {
                                <img src="~/Content/Images/burak.jpg" class="user-image" alt="User Image">
                                <p>
                                    @Session["TamAd"]

                                </p>
                                <p>İşyeri Doktoru</p>

                            }
                            @if ((string)@Session["TcNo"] == "33333")
                            {
                                <img src="~/Content/Images/ugur1.jpg" class="user-image" alt="User Image">
                                <p>
                                    @Session["TamAd"]

                                </p>
                                <p>Personel</p>

                            }

                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="/Account/Login" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>